<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/login.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action="/loginResult" method="post">
        <label>
            <input type="text" name="username" placeholder="Username" required>
        </label><br>
        <label>
            <input type="password" name="password" placeholder="Password" required>
        </label><br>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>